{% extends "base.html" %}

{% block content %}
  <h1 class="center">Topics All</h1>
  <div class="album py-5 bg-light">
  	<div class="row">
  		{% for topic in topics %}
  		<div class="col-md-12">
  			<div class="card mb-4 shadow-sm">
  				<h4 class="display-5 center" style="padding-top:5%">{{ topic.name }}</h4>
  				<div class="card-body">
  					<div class="d-flex justify-content-between align-items-center">
  						<div class="btn-group">
  							<div><a href="{{ url_for('TopicView:show',id=topic.id) }}" class="button btn btn-primary btn-md btn-block">show</a></div>
                <div>
                  <form action="{{ url_for('BookmarkView:post',msg='created') }}" method="post">
                    {{ bform.csrf_token }}
                    {{ bform.tidf(value=topic.id) }}
                    {{ bform.uidf(value=current_user.id) }}
                    <input id="submit" name="submit" type="submit" value="bookmark" class="btn btn-info btn-md btn-block">
                  </form>
                </div>
  						</div>
  					</div>
  				</div>
  			</div>
  		</div>
  		{% endfor %}
  	</div>
  </div>
	<p>
		<a href="{{ back_url }}" class="button btn btn-danger btn-lg">Back</a>
  </p>
{% endblock %}
