{% block content %}
  <h1 class="center">Topic</h1>
  <p>Name: {{ topic.name }}</p>
  <p>Description: {{ topic.description }}</p>
  <p>{{ topic.text|safe }}</p>
  <h3 class="center">Topic Lessons All</h3>
  <table class="table table-hover">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
    </tr>
    {% for lesson in topic.lessons %}
    <tr>
      <td>{{ lesson.name }}</td>
      <td>{{ lesson.description }}</td>
      <td><a href="{{ url_for('LessonView:show',id=lesson.id,tid=topic.id) }}" class="btn btn-primary btn-md btn-block">show</a></td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
