# Ignore sqlite files
*.sqlite3

# Ignore all pycache folders
**/__pycache__

# ignore all .pyc files
**/*.pyc

# Ignore static node_modules folder
/node_modules
/public

# Ignore ckeditor uploader files
/uploads/*.jpg
/uploads/*.gif
/uploads/*.png
/uploads/*.jpeg

yarn-error.log

# Ignore venv folder
/venv
/app/venv

# Ignore search db & whoosh folder
/search.db
/whoosh
