# Ignore sqlite files
*.sqlite3

# Ignore all pycache folders
**/__pycache__

# Ignore static node_modules folder
/node_modules
/public

# Ignore ckeditor uploader files
/uploads/*.jpg
/uploads/*.gif
/uploads/*.png
/uploads/*.jpeg

yarn-error.log
