{% extends "base.html" %}

{% block content %}
  <h1 class="center">Edit Comment</h1>
  <form action="{{ url_for('AdminCommentView:post',lid=lid,msg=msg,tid=tid) }}" method="post">
    {{ form.csrf_token }}
    {{ form.lidf(value=lid) }}
    {{ form.iden(value=id) }}
    {{ form.tidf(value=tid) }}
    <p>
      {{ render_field(form.text, class='form-control') }}
    </p>
    <p>
      <input id="submit" name="submit" type="submit" value="update comment" class="button btn btn-success btn-lg">
      <a href="{{ back_url }}" class="button btn btn-danger btn-lg">Back</a>
    </p>
  </form>
  {{ ckeditor.load() }}
  {{ ckeditor.config(name='text') }}
{% endblock %}
