{% extends "base.html" %}

{% block content %}
  <h1 class="center">Lesson</h1>
  <p>Name: {{ lesson.name }}</p>
  <p>Description: {{ lesson.description }}</p>
  <p>{{ lesson.text|safe }}</p>
  <p>
    <a href="{{ url_for('AdminLessonView:edit',id=lesson.id,tid=tid) }}" class="btn btn-warning btn-lg">Edit</a>
    <a href="{{ back_url }}" class="btn btn-danger btn-lg">Back</a>
  </p>
  <h3 class="center">Comments</h3>
  <br></br>
  <table class="table table-hover">
    <tr>
      <th>Text</th>
      <th></th>
      <th></th>
    </tr>
    {% for comment in lesson.comments %}
      <tr>
        <td>{{ comment.text|safe }}</td>
        <td></td>
        <td></td>
      </tr>
    {% endfor %}
  </table>

{% endblock %}
