{% extends "base.html" %}

{% block content %}
  <h1 class="center">New Comment</h1>
  <form action="{{ url_for('AdminCommentView:post',msg=msg,lid=lid,tid=tid) }}" method="post">
    {{ form.csrf_token }}
    {{ form.lidf(value=lid) }}
    {{ form.tidf(value=tid) }}
      {{ render_field(form.text, class='form-control') }}
    </p>
    <p>
      <input id="submit" name="submit" type="submit" value="create comment" class="button btn btn-success btn-lg">
    </p>
  </form>
  {{ ckeditor.load() }}
  {{ ckeditor.config(name='text') }}
{% endblock %}
