<!doctype html>
<html lang="en">
	<head>
		{% if title %}
		<title>{{ title }} - Clean Code</title>
		{% else %}
		<title>Welcome to Clean Code</title>
		{% endif %}
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<script src="../../public/application_js.js"></script>
		<script src="../../public/application_css.js"></script>
		<script src="../../public/bootstrap_js.js"></script>
		<script src="../../public/bootstrap_css.js"></script>
  </head>
  <body>
<div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"></svg>
        {% if current_user.is_authenticated and current_user.has_role('admin') %}
	<strong>Admin</strong>
	{% else %}
	<h3><strong>Sanitized Code</strong></h3>
	{% endif %}
      </a>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                                {% if current_user.is_authenticated and current_user.has_role('admin') %}
                                        <li class="nav-item active">
                                                <a class="nav-link" href="{{ url_for('AdminRoleView:index') }}">roles<span class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="nav-item active">
                                                <a class="nav-link" href="{{ url_for('AdminUserView:index') }}">users<span class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="nav-item active">
                                                <a class="nav-link" href="{{ url_for('AdminTopicView:index') }}">topics<span class="sr-only">(current)</span></a>
                                        </li>
                                {% endif %}
                    </ul>
                                <ul class="navbar-nav ml-auto">
					<li class="nav-item active">
                                                {% if current_user.is_authenticated %}
						<a class="nav-link" href="{{ url_for('topics') }}">Topics<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="{{ url_for('settings') }}">Settings<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
                                                <a class="nav-link" href="{{ url_for('logout') }}">Logout<span class="sr-only">(current)</span></a>
                                                {% else %}
                                                <a class="nav-link" href="{{ url_for('register') }}">Sign up<span class="sr-only">(current)</span></a>
                                                {% endif %}
                                        </li>
                                </ul>
                  </div>
		</nav>
    </div>
  </div>
		<div class="container">
			<br>
			{% with messages = get_flashed_messages(with_categories=true) %}
	    {% if messages %}
			{% for category, message in messages %}
			{% if category == "success" %}
			<div class="alert alert-success">
	      <button type="button" class="close" data-dismiss="alert">&times;</button>
	      {{ message }}
	    </div>
			{% endif %}
			{% if category == "error" %}
			<div class="alert alert-danger">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ message }}
			</div>
			{% endif %}
			{% if category == "warning" %}
			<div class="alert alert-warning">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ message }}
			</div>
			{% endif %}
      {% endfor %}
	    {% endif %}
	    {% endwith %}
	    {% block content %}{% endblock %}
		</div>
  </body>
</html>
