<!doctype html>
<html lang="en">
	<head>
		{% if title %}
		<title>{{ title }} - Clean Code</title>
		{% else %}
		<title>Welcome to Clean Code</title>
		{% endif %}
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<script src="http://localhost:8080/app_js.js"></script>
		<script src="http://localhost:8080/app_css.js"></script>
		<script src="http://localhost:8080/bootstrap_js.js"></script>
		<script src="http://localhost:8080/bootstrap_css.js"></script>
  </head>
  <body>
		{% include 'includes/_navigation_bar.html' %}
		{% from 'includes/_formhelpers.html' import render_field %}
		<div class="container">
			{% include 'includes/_messages.html' %}
	    {% block content %}{% endblock %}
		</div>
  </body>
</html>
