{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <h2 class="display-4">Frequently Asked Questions:</h2><br />
	<p><strong>1. Do I need to register to use the contents of the website?</strong></p>
	<p>For now yes. We are hoping to make all the content available to everyone without a register option.</p>

	<p><strong>2. Can I change my personal information?</strong></p>	
	<p>Yes, you need to go to settings page for that.</p>

	<p><strong>3. Where do I find the lessons?</strong></p>
	<p>You need to select a topic to find lessons in it.</p>

	<p><strong>4. Why can't I sign in?</strong></p>
	<p>You need to sign up before signing in or need to provide correct username and password.</p>

	<p><strong>5. Does it accept UTSA id for sign in?</strong></p>
	<p>By default no, you need to signup before doing that</p>

	<p><strong>6. Is username is email id?</strong></p>
	<p>No, username and email id are different, to sign in username must be provided.</p>

	<p><strong>7. How does search feature work?</strong></p>
	<p>If you are in topics page it will result in topics otherwise it will show the lessons available.</p>

	<p><strong>8. What is bookmark button?</strong></p>
	<p>If you bookmark any topic or lesson it will be available under bookmarks page where you can quickly access the information.</p>

</div>
{% endblock %}
