{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
                <h2 class="display-4">Frequently Asked Questions:</h2><br/>
                <p>
			<strong>1. Do I need to register to use the contents of the website?<br/></strong>
				For now yes. We are trying to create a big platform and we are always evolving, hoping to make all the content available to everyone without a register option. But, we are not there yet.
		</p>
		<p>
			<strong>2. <br/></strong>
			Blah
		</p>

</div>
<div class="row">
</div>
{% endblock %}
