{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
	<!--div class="container"-->
	<marquee behavior="alternate"><h2 class="display-4">{{ current_user.username }} Welcome to Clean Code!</h2></marquee>
	<!--p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p-->
<div class="container">
	 <font size="+1.75"><ul>&#8611;&emsp;The main goal of clean code is readability. </ul><ul>&#8611;&emsp;It doesn’t matter how clever a code segment is if the code itself is unreadable.</ul><ul>&#8611;&emsp;Code evolves and grows which requires changes throughout the code base. </ul><ul>&#8611;&emsp;If the code base isn’t refactored to be more readable then the mess of the codebase can grow over time.</ul><ul>&#8611;&emsp;Eventually this can lead to longer delays and in the worst case scenario this can cause the death of a product.</ul></font>
</div>	
</div>

{% endblock %}
