{% extends "base.html" %}

{% block content %}
	<h1 class="center">Sign In</h1>
	<hr/>
	<form action="{{ url_for('login') }}" method="post" novalidate>
		{{ form.csrf_token }}
    {{ form.hidden_tag() }}
    <p>
      {{ render_field(form.username, class='form-control') }}<br>
    </p>
    <p>
      {{ render_field(form.password, class='form-control') }}<br>
    </p>
    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
		<input id="submit" name="submit" type="submit" value="Sign In" class="btn btn-success btn-lg">
	</form>
	<br>
	<a href="{{ url_for('register') }}" class="btn btn-warning btn-lg">Sign Up</a>
{% endblock %}
