{% extends "base.html" %}

{% block content %}
  <h1 class="center">Edit Role</h1>
  <form action="{{ url_for('AdminRoleView:post',msg=msg) }}" method="post">
    {{ form.csrf_token }}
    {{ form.iden(value=id) }}
    <p>
      {{ form.name.label }}<br>
      {{ form.name(size=32,placeholder=role.name) }}<br>
    </p>
    <p>
      {{ form.description.label }}<br>
      {{ form.description(size=60,placeholder=role.description) }}<br>
    </p>
    <p>
      <input id="submit" name="submit" type="submit" value="update role" class="button btn btn-success btn-lg">
      <a href="{{ back_url }}" class="button btn btn-danger btn-lg">Back</a>
    </p>
  </form>
{% endblock %}
